// .container {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: center;
//     width: 100%;
//     gap: 2rem;
//     overflow: hidden;
// }

.container {
    display: grid;
    grid-template-rows: 0fr auto;
    width: 100%;
    transition: grid-template-rows 0.3s ease-in-out;
}

.container.expand {
    grid-template-rows: 1fr auto;
}

.diff {
    overflow: hidden;
    min-height: 3rem;
    padding: 1rem;
    color: white;
}

.overview {
    min-height: 0;
}

.btn {
    button {
        background: transparent;
        border: none;
        color: gray;
        cursor: pointer;
    }
}