// .container {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: space-around;
//     width: 100%; 
// }

.container {
    display: grid;
    grid-template-rows: 0fr auto auto;
    width: 100%;
    // max-height: fit-content;
    transition: grid-template-rows 0.3s ease-in-out;
    overflow: hidden;
}

.container.expand {
    grid-template-rows: 1fr auto auto;
}

.fileTree {
    overflow: hidden;
    min-height: 3rem;
    padding: 1rem;
    color: white;
}

.overview {
    min-height: fit-content;
}
.uml {
    min-height: fit-content;
}

.btn {
    margin-bottom: 1rem;
    button {
        background: transparent;
        border: none;
        color: gray;
        cursor: pointer;
    }
}