.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  color: white;
  gap: 0.5rem;
  border-radius: 7px;
  border: 2px solid var(--border-section);
  h3 {
    margin-bottom: 1rem;
  }
}

.container {
  width: 100%;
  /* background: rgb(78, 78, 78); */

  color: #d4d4d4;
  padding: 1rem;
}

.treeText {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
  /* font-size: 1rem; */
  line-height: 1.4;
  margin: 0;
  white-space: pre;
  overflow-x: auto;
}