@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--bg-gradient);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overscroll-behavior: none;
}
body {
  /* background-image: url('/bg-code.svg'); */
  background-size: 100vw 100vw;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  /* Webkit browsers (Chrome, Safari, Edge) */
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--border-section);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}